/*
 * Modify Login
 */


body{
    /*  background: #25262a;*/
    background-image: url("./login-bg-image.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover;
}
.login h1 a { background-image:url("./logo.png") !important;background-size: 100% !important; margin-bottom: 20px; height: 105px; width: 200px; }
.login h1 a:hover,
.login h1 a:focus {
    box-shadow: none;
    outline: 0;
}

#loginform {
    background: #333333;
}

#loginform .button-primary {
    background-color: #263E9B;
    border-color: #263E9B;
    box-shadow: none;
    transform: none;
    text-shadow: none;
}
#loginform .button-primary:focus,
#loginform .button-primary:active
#loginform .button-primary:active:focus {
    box-shadow: none;
    transform: none;
}
.login form .input, .login input[type=text], input[type=password] {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #333333;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
}
.login form .input:focus, .login input[type=text]:focus, input[type=password]:focus {
    outline: 0;
    box-shadow: none;
}
.login label {
    color: #ffffff;
    font-size: 16px;
}
input[type=text]:focus, input[type=password]:focus {
    outline: 0;
}
input[type=checkbox] {
    border-color: #263E9B !important;
    box-shadow: none !important;
    outline: 0 !important;
}
input[type=checkbox]:checked:before {
    color: #263E9B;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0 1000px #263E9B inset !important;
}
input::-webkit-input-placeholder { / Chrome/Opera/Safari /
color: #333333;
    font: 15px / 1.2 "Aaux", "Arial", "Helvetica", sans-serif;
}
input::-moz-placeholder { / Firefox 19+ /
color: #333333;
    font: 15px / 1.2 "Aaux", "Arial", "Helvetica", sans-serif;
}
input:-ms-input-placeholder { / IE 10+ /
color: #333333;
    font: 15px / 1.2 "Aaux", "Arial", "Helvetica", sans-serif;
}
input:-moz-placeholder { / Firefox 18- /
color: #333333;
    font: 15px / 1.2 "Aaux", "Arial", "Helvetica", sans-serif;
}

.login a {
    color: #263E9B;
    transition: all linear 0.35s;
}

.login #nav a ,
.login #backtoblog a {
    color: #263E9B;
    font-size: 14px;
    font-weight: 600;
}

.login #backtoblog a {
    color: #263E9B;
}

.login #nav a:hover,
.login #nav a:focus,
.login #backtoblog a:hover,
.login #backtoblog a:focus {
    color: #263E9B;
    box-shadow: none;
    outline: 0;
}

.login form .forgetmenot label {
    font-size: 14px;
}