.sub-menu.animated{
    -webkit-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: .02s;
    -moz-animation-delay: .02s;
    -webkit-animation-delay: .02s;
    -ms-animation-delay: .02s;
}

.main-nav-wrapper .main-nav{
    margin:0 20px 0 !important;
}

#mega-menu>ul>li>.sub-menu{
    top:100% !important;
}

#mega-menu>ul>li.collection>a::after, #mega-menu>ul>li.menu-item-has-children>a::after{
    bottom:-1px !important;
}

@media (max-width: 767px){
    .full-width,.full-width-extend{
        margin:0 auto !important;
    }

    .cms-content, .slider-2-section-static>div ,.slider-2-section-reversed-static>div,
    .slider-2-section ul li>div>div,.slider-2-section-reversed ul li>div>div{
        width: 95% !important;
    }

    .slider-2-section-reversed ul li>div{
        display: block !important;
    }

    .btn-cms{
		height:auto !important;
		line-height:25px;
		padding-top:10px;
		padding-bottom:10px;
	}
}


/*CSS FOR SUB MENU*/
.mean-container .mean-nav .sub-menu li {
  border-bottom: 1px solid #e1e1e1;
}

.mean-container .mean-nav .sub-menu  li a{
  text-align: center;
}

.mean-nav>ul>li>ul.sub-menu{
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
}

.mean-container .mean-nav ul li.services ul li:nth-of-type(1) {
    display: block !important;
}

