.social-contr:after, .social-contr .feed-blk:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

.social-contr{ width:1130px; margin:0 auto; }
.social-contr .social-icon{ display:block; width:55px; height:60px; background:url(../images/social-icons.png) no-repeat; position:absolute; }
.social-contr .social-icon:hover{ opacity:0.8; } 
.social-contr .feed-blk{ position:relative; }
.social-contr .dcsns-content{ height:auto !important;}
.social-contr .social-left{ float:left; width:590px; }
.social-contr .social-right{ float:right; width:530px;}
.social-contr .social-right .feed-blk{ clear:both; }

#tumblr-feed-blk{ width:346px; margin-left:236px; margin-bottom:20px; clear:both; }
#tumblr-feed-blk .stream li{  padding:0; margin:0; width:100%; }
#tumblr-feed-blk .inner{ margin:0; padding:0; }
#tumblr-feed-blk .inner img{ width:100%; }
#tumblr-feed-blk .social-icon{ background-position:-12px 0; left:-60px; top:44px; }
#tumblr-feed-blk .section-intro{ display:none; }
#tumblr-feed-blk .section-title{ padding:20px; }
#tumblr-feed-blk .section-intro, #tumblr-feed-blk .section-title{ font-size:18px; font-family:"Myriad Pro",Arial, Helvetica, sans-serif; font-weight:normal; line-height:20px; }


#instagram-feed-blk{ float:left; width:255px; }
#instagram-feed-blk .social-icon{ background-position:-12px -60px; left:10px; top:-80px; }
#instagram-feed-blk .stream li.dcsns-instagram{ padding:0; margin:0; }
#instagram-feed-blk .stream li.dcsns-instagram .inner{ padding:0; }
#instagram-feed-blk .stream li.dcsns-instagram .section-user{ display:none; }

#facebook-feed-blk{ float:left; width:286px; margin:20px 0 0 48px; }
#facebook-feed-blk .social-icon{ background-position:-12px -120px; left:-78px; bottom:-15px; }
#facebook-feed-blk .dcsns-facebook{ margin:0; width:100%; padding:0; }
#facebook-feed-blk .dcsns-facebook a{ color:#726ba3; }
#facebook-feed-blk .stream li .section-intro, #facebook-feed-blk .stream li .section-share,  #facebook-feed-blk .stream li .section-user{ display:none; }
#facebook-feed-blk .stream li .inner{ padding:0; }
#facebook-feed-blk .stream li .inner img{ width:100%; }
#facebook-feed-blk .stream li .section-text{ padding:10px; }

#twitter-feed-blk{ width:400px; padding-left:10px; margin-bottom:35px; }
#twitter-feed-blk .social-icon{ width:80px; background-position:0 -180px; right:-85px; bottom:0; }
#twitter-feed-blk .stream li.dcsns-twitter{ margin:0; }
#twitter-feed-blk .stream li.dcsns-twitter .twitter-user{ padding:5px 0 0 ; margin-bottom:0; }
#twitter-feed-blk .stream li.dcsns-twitter .section-text{ font-family:"Myriad Pro",Arial, Helvetica, sans-serif; padding-top:35px; }
#twitter-feed-blk .stream li.dcsns-twitter .section-text .twitter-user, #twitter-feed-blk .stream li.dcsns-twitter .section-text a, #twitter-feed-blk .stream li.dcsns-twitter .section-text a strong{ color:#3b445c; }

#youtube-feed-blk{ padding-bottom:92px; margin-bottom:30px; }
#youtube-feed-blk .social-icon{ width:60px; height:80px; background-position:-10px -300px; left:30px; bottom:0px; }

#pinterest-feed-blk{ width:270px; }
#pinterest-feed-blk .social-icon{ width:58px; height:60px; background-position:-10px -240px; right:-82px; top:0; }
#pinterest-feed-blk .stream li.dcsns-pinterest .section-intro{ display:none; }


.stream li .icon{ display:none !important; }