.kwicks{display:block;list-style-type:none;list-style:none;position:relative;margin:0;padding:0}
.kwicks > *{display:block;overflow:hidden;padding:0;margin:0}
.kwicks.kwicks-processed > *{margin:0;position:absolute}
.kwicks-horizontal > *{float:left}
.kwicks-horizontal > :first-child{margin-left:0}
.kwicks-vertical > :first-child{margin-top:0}


/*---mean menu---*/
a.meanmenu-reveal{display:none}
.mean-container .mean-bar{float:left;width:100%;position:fixed;background:#0c1923;padding:4px 0;min-height:42px;z-index:999999}
.mean-container a.meanmenu-reveal{width:22px;height:22px;padding:13px 13px 11px;position:absolute;top:0;right:0;cursor:pointer;color:#fff;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-family:Arial,Helvetica,sans-serif;font-weight:700}
.mean-container a.meanmenu-reveal span{display:block;background:#fff;height:3px;margin-top:3px}
.mean-container .mean-nav{float:left;width:100%;background:#0c1923;margin-top:44px}
.mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.mean-container .mean-nav ul li{position:relative;float:left;width:100%}
.mean-container .mean-nav ul li a{display:block;float:left;width:90%;padding:1em 5%;margin:0;text-align:left;color:#fff;border-top:1px solid #383838;text-decoration:none;text-transform:uppercase}
.mean-container .mean-nav ul li li a{width:80%;padding:1em 10%;border-top:1px solid #f1f1f1;border-top:1px solid rgba(255,255,255,0.25);opacity:.75;filter:alpha(opacity=75);text-shadow:none!important;visibility:visible}
.mean-container .mean-nav ul li.mean-last a{border-bottom:none;margin-bottom:0}
.mean-container .mean-nav ul li li li a{width:70%;padding:1em 15%}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%}
.mean-container .mean-nav ul li a:hover{background:#252525;background:rgba(255,255,255,0.1)}
.mean-container .mean-nav ul li a.mean-expand{margin-top:1px;width:26px;height:32px;padding:12px!important;text-align:center;position:absolute;right:0;top:0;z-index:2;font-weight:700;background:rgba(255,255,255,0.1);border:none!important;border-left:1px solid rgba(255,255,255,0.4)!important;border-bottom:1px solid rgba(255,255,255,0.2)!important}
.mean-container .mean-nav ul li a.mean-expand:hover{background:rgba(0,0,0,0.9)}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
.mean-container .mean-bar,.mean-container .mean-bar *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}
.mean-container .mean-nav ul li a.mean-expand{height:14px}
.mean-container .mean-bar,.mean-container .mean-nav{background-color:rgba(0,0,0,0.5)}
.mean-container .mean-nav ul li a{padding:1em 2%;width:96%}
.mean-container .mean-nav ul li li a{width:94%;padding:1em 6%}

/*--- end of mean menu---*/

/*--history--*/
/*.size-full{width:100%;height:auto} http://prntscr.com/e8ydja */
.timeline-container{color:#fff;background:#050915;position:relative}
.timeline-wrapper{width:100%;margin:0 auto;overflow:hidden}
.timeline-wrapper a{text-decoration:none;color:#fff;font-family:'robotolight';font-size:20px;display:block;margin-top:20px}
.timeline-wrapper a:hover{text-decoration:underline;color:#fff}
h1.main-title{font-family:'CenturyGothicBold';text-transform:uppercase;font-size:30px;line-height:40px;font-weight:700;margin-bottom:5px;letter-spacing:1px}
h2.small-title{font-size:20px;line-height:30px;font-family:'robotolight'}
p.smaller-text{font-family:'robotoregular';font-size:18px;line-height:27px;margin-top:40px;margin-bottom:0}
.timeline-container img{position:relative;z-index:1}
.cover-bg{background:#050915;position:absolute;z-index:0;padding:10px 0;width:60%;left:50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%)}
.timeline-container .half{width:50%;display:inline-block;text-align:center}
.timeline-container .timeline-boxed{width:340px;border:1px solid #fff;margin:0 auto;padding:25px}
.timeline-container .timeline-boxed p{font-family:'robotoregular';font-size:20px;line-height:35px;margin-bottom:0}
.first-part{background:url(../images/history/history-bg.jpg) no-repeat 0 0 fixed;height:100%;padding-top:60px}
.first-part .timeline-content{padding-top:25px}
.first-part .timeline-content.marriage .half{vertical-align:top}
.timeline-container .timeline-boxed.pauline{margin-top:200px;margin-bottom:110px}
.second-part{background:url(../images/history/secondpart-bg.jpg) no-repeat 50% 0;height:100%;min-height:780px;top:0;}
.second-part .timeline-content{width:33%;margin:0 auto;padding:200px 0 160px;text-align:center}
.second-part .timeline-content .smaller-text{font-weight:600;margin-bottom:30px}
.third-part .timeline-start{padding:220px 0 50px;text-align:center}
.timeline-fixed-content.birthof-logo{position:absolute;top:410px;z-index:99;width:100%}
.third-part .timeline-start .timeline-fixed-content .cover-bg{width:41%}
.fourth-part{background:url(../images/history/old-factory.jpg) no-repeat 50% 0;height:100%;top:0;}
.fourth-part .timeline-content{width:33%;margin:0 auto;padding:240px 0 280px;text-align:center}
.fifth-part{text-align:center}
.fifth-part .timeline-content .crown{position:relative;vertical-align:top}
.fifth-part .timeline-content .crown .timeline-boxed{position:absolute;top:25px;left:5%;width:400px;}
.fifth-part .timeline-content{padding-top:25px}
.fifth-part .timeline-content .crown img{position:absolute;right:10%;top:150px}
.fifth-part .timeline-content .timeline-boxed p{font-family:'robotolight';font-size:20px;line-height:35px;margin-bottom:0}
.fifth-part .timeline-content .water-champion>div{width:55%;margin-left:10%}
.fifth-part .timeline-content .hydro-sub{padding:180px 0 80px}
.fifth-part .timeline-content .hydro-sub p{line-height:35px}
.fifth-part .timeline-content .hydro-sub>div{width:60%;margin:0 auto}
.fifth-part .timeline-content .hydro-sub-watch{position:relative}
.fifth-part .timeline-content .hydro-sub-watch img{position:absolute;bottom:-148px;left:20%;z-index:99}
.fifth-part h1.main-title{margin-bottom:0;font-family:'proxima'}
.fifth-part p{margin:0}
.sixth-part{background:url(../images/history/sixthpart-bg.jpg) no-repeat 50% 0;height:100%;text-align:center;border:none!important;top:0;}
.sixth-part .timeline-content{width:33%;margin:0 auto;padding:140px 0 180px;text-align:center}
.sixth-part p.smaller-text{font-weight:500;font-family:'robotoregular'}
.seventh-part{background:url(../images/history/seventhpart-bg.jpg) no-repeat 50% 0;height:100%;text-align:center;top:0;}
.seventh-part .timeline-content{width:28%;margin:0 auto;padding:140px 0 480px;text-align:center;max-height:821px}
.seventh-part .timeline-content p.smaller-text{margin-top:0}
.eighth-part .timeline-fixed-content.worldrecord{position:absolute;top:396px;text-align:center;width:100%}
.eighth-part .timeline-fixed-content.worldrecord .cover-bg{width:38%;margin:0 auto}
.eighth-part .timeline-content .worldrecord-watch{padding-top:150px}
.eighth-part .timeline-content .worldrecord-watch img{margin-left:100px}
.eighth-part .timeline-fixed-content.achivements{position:absolute;top:342px;text-align:center;width:100%}
.eighth-part .timeline-fixed-content.achivements .cover-bg{width:31%;margin:0 auto}
.eighth-part .timeline-content .achivements-watch{padding-bottom:200px}
.eighth-part .timeline-content .achivements-watch img{margin-right:100px;margin-top:100px}
.ninth-part{background:url(../images/history/partnership-bg.jpg) no-repeat 50% 0;height:100%;text-align:center;border:none!important;z-index:0;top:0;}
.ninth-part .timeline-content{width:31%;margin:0 auto;padding:160px 0 250px;text-align:center}
.ninth-part .timeline-content h1.main-title{margin-bottom:40px}
.ninth-part .timeline-content p.smaller-text{margin:0;font-weight:500}
.tenth-part{background:url(../images/history/timekeeping-bg.jpg) no-repeat 50% 0;border:none!important;position:relative;max-height:976px;top:0;}
.tenth-part .timeline-content{width:28%;margin:0 auto;padding:125px 0 640px;text-align:center}
.tenth-part .timeline-content .timekeeping-watch{position:absolute;right:0;bottom:-300px;z-index:1;}
.eleventh-part{background:url(../images/history/timekeeper-bg.jpg) no-repeat 50% 0;border:none!important;position:relative;max-height: 990px;top:0;}
.eleventh-part .timeline-content{width:28%;margin:0 auto;padding:120px 0 660px;text-align:center}
.eleventh-part .timeline-content .timekeeper-watch{position:absolute;right:0;bottom:-150px;z-index:1;}
.eleventh-part .timeline-boxed.timekeeper{position:absolute;top:145px;left:10%;text-align:center;width:19%}
.eleventh-part .timeline-boxed.timekeeper p, .eleventh-part .timeline-boxed p, .tenth-part .timeline-boxed p{font-family:'robotolight'}
.twelveth-part{background:url(../images/history/newpartner-bg.jpg) no-repeat 50% 0;border:none;top:0;}
.twelveth-part .timeline-content{width:28%;margin:0 auto;padding:780px 0;text-align:center}
.twelveth-part .timeline-content p.smaller-text{font-weight:500}
.thirteenth-part{position:relative}
.thirteenth-part .timeline-start{padding-top:50px}
.thirteenth-part .timeline-fixed-content.icon-revival{position:absolute;top:390px;width:100%;text-align:center}
.thirteenth-part .timeline-fixed-content.icon-revival .cover-bg{width:40%;margin:0 auto}
.thirteenth-part .timeline-content .half{vertical-align:top}
.thirteenth-part .timeline-content .half.new-delfin{padding-top:95px;padding-bottom:255px}
.thirteenth-part .timeline-content .half.old-delfin{text-align:left;position:relative}
.thirteenth-part .timeline-content .half.old-delfin img{margin-left:200px}
.thirteenth-part .timeline-content .half.old-delfin .timeline-boxed.revival{position:absolute;bottom:-300px;right:20%;width:48%}
.thirteenth-part .timeline-content .half.old-delfin .timeline-boxed.revival p{font-family:'robotolight';text-align:center}
.end-part{text-align:center; padding-top: 100px;}
.end-part h1{margin:35px 0}
.end-part p{width:58%;margin:0 auto;font-family:'robotolight';font-size:18px;padding-bottom:110px}
.timeline-wrapper section { position: relative; z-index: 1;}

.first-part,.second-part,.third-part,.fourth-part,.fifth-part,.sixth-part,.seventh-part,.eighth-part,.ninth-part,.tenth-part,.eleventh-part,.twelveth-part{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;border-bottom:20px solid #050915;position:relative}
#fifth-part .fifth-part, #eighth-part .eighth-part { border-bottom: none;}
.sticky-dates{position:fixed;right:0;z-index:8}
.sticky-dates ul{padding:0;margin:0;list-style:none}
.sticky-dates ul li{list-style:none}
.sticky-dates ul li a{font-size:16px;font-family:'CenturyGothic';color:#969696;padding:9px 0;display:inline-block;border-bottom:1px solid #fff;letter-spacing:2.5px;text-shadow:1px 1px 3px #000;-moz-text-shadow:1px 1px 3px #000;-webkit-text-shadow:1px 1px 3px #000;transition:all linear 0;-moz-transition:all linear 0;-webkit-transition:all linear 0}
.sticky-dates ul li a.active,.sticky-dates ul li a:hover{font-size:28px;font-family:'CenturyGothicBold';color:#fff;border-bottom:1px solid #fff;padding:14px 0;padding-right:16px;text-decoration:none}
.timeline-start{position:relative;margin:0 auto;z-index:0}
.timeline-start:before{content:'';position:absolute;top:0;height:100%;width:1px;background:rgba(114,115,118,0.5);left:50%}
.history-top{text-align:center;margin-bottom:65px}
.history-top h1{font-size:75px;line-height:80px;font-family:'CenturyGothicBold';text-transform:uppercase}
.history-top h2{font-size:18px;font-family:'CenturyGothic'}
.timeline-fixed-content.watchmaking{text-align:center;padding:90px 0 160px}
.year-point{position:absolute;width:62px;height:62px;border-radius:50%;display:block;background:#202947;color:#fff;text-align:center;line-height:62px;outline:10px solid #050915;left:50%;margin-left:-31px;z-index:100;font-family:'robotolight';font-size:18px}
.year-point.first{top:80px}
.year-point.second{top:460px}
.year-point.third{top:1030px}
.year-point.fourth{top:338px}
.year-point.fifth{top:300px}
.year-point.sixth{top:325px}
.year-point.seventh{top:270px}
.year-point.eighth{top:320px}
.year-point.ninth{top:0px}
.shuffle{position:relative;left:0;z-index:4;}
.parallaxObject{position:absolute;z-index:1}
.parallaxObject.item-1{top:520px;left:5%}
.parallaxObject.item-2{top:700px;right:4%}
.parallaxObject.item-3{top:-400px;right:9%}
.parallaxObject.item-4{top:1100px;left:8%}
.parallaxObject.item-5{top:-800px;left:-120px}
.parallaxObject.item-6{top:2000px;right:-110px}
.parallaxObject.item-7{top:2800px;left:16%}
.parallaxObject.item-8{top:-1200px;right:0;z-index:0}
.parallaxObject.item-9{top:8000px;left:5%}
.contact-container{background:#fff}
.contact-map{height:450px}
.contact-map #map-canvas{height:100%}
/*.contact-header{background:#11223a;background:-moz-linear-gradient(top,#11223a 0%,#0d1a2d 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#11223a),color-stop(100%,#0d1a2d));background:-webkit-linear-gradient(top,#11223a 0%,#0d1a2d 100%);background:-o-linear-gradient(top,#11223a 0%,#0d1a2d 100%);background:-ms-linear-gradient(top,#11223a 0%,#0d1a2d 100%);background:linear-gradient(to bottom,#11223a 0%,#0d1a2d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11223a',endColorstr='#0d1a2d',GradientType=0);text-align:center} */
.contact-header h1{font-family:'CenturyGothicBold';font-size:65px;vertical-align:middle;color:#fff;text-transform:uppercase;padding:85px 0;background:url(../images/title-bg.png) no-repeat center center}
.contact-form{text-align:center;padding-bottom:60px;width:100%}
.contact-form>div{max-width:520px;width:100%;margin:0 auto}
.contact-form h1{color:#25262a;font-size:34px;font-family:'CenturyGothicBold';text-transform:uppercase;margin-bottom:40px}
.contact-form p{margin-bottom:20px}
.contact-form label{font-weight:400;margin-right:10px}
.contact-form input[type=email],.contact-form input[type=text],.contact-form select,.contact-form textarea{max-width:520px;width:100%;height:50px;padding-left:12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid rgba(46,53,70,0.5);-moz-border:1px solid rgba(46,53,70,0.5);-webkit-border:1px solid rgba(46,53,70,0.5);color:#2e3546;font-family:'robotolight';font-size:20px;font-style:italic;line-height:50px}
.contact-form input:focus,.contact-form select:focus,.contact-form textarea:focus{border:1px solid #0f2036;box-shadow:0 1px 1px rgba(229,103,23,0.0) inset,0 0 8px rgba(229,103,23,0.0);outline:0 none}
.contact-form textarea{height:138px;line-height:28px;padding-top:10px;resize:none;}
.contact-form input::-webkit-input-placeholder,.contact-form textarea::-webkit-input-placeholder{color:#2e3546}
.contact-form input:-moz-placeholder,.contact-form textarea:-moz-placeholder{color:#2e3546}
.contact-form input::-moz-placeholder,.contact-form textarea::-moz-placeholder{color:#2e3546}
.contact-form input[type=submit]{width:205px;height:40px;line-height:40px;background:#0f2036;color:#fff;font-size:16px;font-family:'ralewayregular';padding:0;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;font-style:normal;margin-top:20px}
.contact-form input[type=submit]:hover{background:#000}
.contact-form input[type=checkbox]{height:20px;width:20px;vertical-align:bottom;border:none;}
.contact-address{text-align:center;padding:80px 0}
.contact-address p{font-family:'robotolight';font-size:25px;margin:14px 0;color:#2e3546}
div.wpcf7-validation-errors,div.wpcf7-mail-sent-ng{border:none;color:red}
div.wpcf7-mail-sent-ok{border:none;color:#398f14}
.row-vertical,.row-vertical .row{display:table;width:100%}
.row-vertical [class*="col-"]{float:none;display:table-cell;vertical-align:middle}
.main-wrapper{background:#fff;color:#25262a;overflow:hidden}
.cms-content{width:52.916666666667%;max-width:1016px;margin:0 auto}
/*.cms-content{width:90%;max-width:1400px;margin:0 auto}*/
.cms-content ul{padding:0;margin:0}
.cms-content ul.carousel-inner { margin-bottom: 0 !important;}
.cms-content ul li{line-height:25px;list-style:outside disc;font-family:'robotolight';font-size:16px;color:#25262a; padding-left: inherit !important;}
.cms-content .text-center ul li { list-style: inside !important;}
.cms-content h1{font-family:'CenturyGothicBold';font-size:30px;letter-spacing:1px;text-transform:uppercase;margin-bottom:20px}
.cms-content h2{font-family:'CenturyGothic';font-size:20px;letter-spacing:1px}
.cms-content p{font-family:'robotolight';font-size:20px;line-height:35px;margin-top:20px}
.cms-content table{margin-top:40px;margin-bottom:40px;width:100%;font-family:'robotolight';font-size:15px}
.cms-content table thead td{background:#e6ecf0;color:#737373;border-right:1px solid #dbdddd;line-height:43px;text-align:center}
.cms-content table thead td:last-child{border-right:none}
.cms-content table tr td{border-right:1px solid #dbdddd;border-bottom:1px solid #dbdddd;line-height:43px;text-align:center}
.cms-content table tr td:last-child{border-right:none}
.cms-content table tr:last-child td{border-bottom:none}
.full-width{margin:0 -1400px;padding:0 1400px}
.full-width-extend{margin:0 -44.5%}
.grey-bg{background:#e6ecf0}
.bg-grey-2{background:#e4e4e4}
.bg-dark-grey{background:#25262a;color:#fff}
.cms-content h1{font-size:65px;font-family:'CenturyGothicBold';margin-bottom:20px;text-transform:uppercase}
.cms-content h2{font-size:30px;font-family:'latolight'}
.cms-content h3{font-size:38px;line-height:56px;font-family:'CenturyGothicBold';text-transform:uppercase}
.cms-content h4{font-size:20px;font-family:'CenturyGothic';text-transform:uppercase;border-bottom:1px solid #969aa2;padding-bottom:20px;margin-bottom:20px}
.cms-content h5{position:relative;padding-bottom:40px;margin-bottom:40px;font-size:18px;font-family:'robotolight';font-style:italic}
.cms-content h5:before{content:'';background:#aaa;display:inline-block;width:15%;height:1px;position:absolute;left:50%;bottom:0;margin-left:-7.5%}
.cms-content h6{font-size:30px;font-family:'CenturyGothicBold';text-transform:uppercase;margin-bottom:20px}
.cms-content h6.h7{font-size:20px;margin-bottom:25px}
.btn-cms{display:inline-block;height:43px;line-height:43px;font-size:20px;font-family:'CenturyGothic';background:#152e51;padding:0 34px;cursor:pointer;color:#fff;transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-webkit-transition:all ease-in-out .3s}
.btn-cms:hover{background:#25262a;color:#fff}
.bg-line{background:url(../images/title-bg.png) no-repeat center center}
.intro-section{padding:90px 0 80px}
.page-teaser{position:relative;padding-bottom:40px;margin-bottom:40px;font-size:18px;font-family:'robotolight';font-style:italic}
.page-teaser + h1{margin-bottom:0}
.page-teaser:before{content:'';background:#aaa;display:block;width:126px;height:1px;position:absolute;bottom:0}
.text-center .page-teaser:before{left:50%;margin-left:-63px}
.text-right .page-teaser:before{right:0}
.intro-section h1{font-size:38px;line-height:35px;font-family:'CenturyGothicBold';text-transform:uppercase;margin-bottom:5px}
.intro-section p{font-size:20px;line-height:35px;font-family:'robotolight'}
.btn-arrow,.btn-arrow-transparent{background:url(../images/arrow.png) no-repeat left center;display:block;height:50px;color:transparent}
.btn-arrow.bg-transparent{background:url(../images/arrow-white.png) no-repeat left center}
.text-center .btn-arrow{background-position:center center}
.text-right .btn-arrow{background-position:right center}
.half-image-text-section h1{font-size:30px;font-family:'CenturyGothicBold';text-transform:uppercase;margin-bottom:20px}
.half-image-text-section p{font-family:'robotolight';font-size:20px;line-height:30px;margin-bottom:30px;letter-spacing:1px}
.bg-black .btn-arrow,.bg-dark-grey .btn-arrow{width:90px;height:34px;background-color:#fff;background-position:center center;display:inline-block;margin-top:20px}
.bg-black .btn-arrow.bg-transparent,.bg-dark-grey .btn-arrow.bg-transparent{width:90px;height:34px;background-color:transparent;background-position:center center;display:inline-block;margin-top:20px}
.cms-content .btn-arrow,.cms-content .btn-arrow.bg-transparent{text-indent:-2000px;display:block;height:34px;color:transparent;width:90px;margin:0 auto;transition:all ease-in-out .4s;-webkit-transition:all ease-in-out .4s}
.cms-content .btn-arrow:hover,.cms-content .btn-arrow.bg-transparent:hover{text-indent:-2000px;display:block;height:34px;color:transparent;width:90px;margin:0 auto}
.cms-content .btn-arrow{background-image:url(../images/arrow.png);background-repeat:no-repeat;background-position:center center;margin-top:20px}
.cms-content .btn-arrow.bg-transparent{background-image:url(../images/arrow.png);background-repeat:no-repeat;background-position:center center;background-color:#fff}
.content-section{padding-top:120px;padding-bottom:120px}
.content-section .content-section{padding-top:0;padding-bottom:0}
.half-image-text-section figure img{width:100%}
.half-image-text-section .teaser{padding:0 40px}
.half-text-section div:first-child{padding-right:20px}
.half-text-section div:last-child{padding-left:20px}
.half-text-section h1{font-size:20px;font-family:'CenturyGothic';text-transform:uppercase;border-bottom:1px solid #969aa2;padding-bottom:20px;margin-bottom:20px}
.half-text-section p{font-size:16px;line-height:25px;font-family:'robotolight';margin-bottom:20px}
.quotation-section{padding-top:160px;padding-bottom:120px;text-align:center}
.quotation-section div{max-width:1024px;width:100%;margin:0 auto}
.quotation-section h1{font-family:'CenturyGothicBold';font-size:38px;letter-spacing:1px;margin-bottom:25px;text-transform:uppercase}
.quotation-section p{font-size:20px;line-height:35px;letter-spacing:1px;font-family:'robotolight';position:relative}
.quotation-section p:before{content:url(../images/quotation-left.png) no-repeat;position:absolute;top:-60px;left:0}
.quotation-section p:after{content:url(../images/quotation-right.png) no-repeat;position:absolute;bottom:-40px;right:0}
.slider-2-section{position:relative}
.slider-2-section ul li > div{display:table;width:100%}
.slider-2-section ul li > div > div{width:50%;display:table-cell;vertical-align:middle}
.slider-2-section ul li > div > div:nth-child(1){position:relative;padding:0 6.5%;text-align:center}
.slider-2-section ul li > div > div:nth-child(1):before,.slider-2-section ul li > div > div:nth-child(1):after{left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.slider-2-section ul li > div > div:nth-child(1):after{border-color:rgba(136,183,213,0);border-left-color:#e6ecf0;border-width:30px;margin-top:-30px}
.slider-2-section ul li > div > div:nth-child(1):before{border-color:rgba(194,225,245,0);border-width:36px;margin-top:-36px}
.slider-2-section > ul{padding:0;margin:0}
.slider-2-section > ul > li{list-style:none;display:block;margin:0}
.slider-2-section ul li h1{font-family:'CenturyGothicBold';font-size:38px;letter-spacing:1px;text-transform:uppercase;margin-bottom:25px}
.slider-2-section ul li p{font-family:'robotolight';font-size:20px;line-height:28px;letter-spacing:.5px;margin-bottom:20px}
.slider-2-section img{width:100%;height:auto}
.slider-2-section .carousel-control{background:url(../images/arrow.png) no-repeat center center!important;width:35px;height:49px;bottom:100%;margin-top:-25px;opacity:1;top:inherit}
.slider-2-section .carousel-control.left{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);left:46%;margin-left:-25px}
.slider-2-section .carousel-control.right{left:56%;margin-left:-25px}
.slider-2-section > p{display:block;position:absolute;bottom:0;width:50%;margin-bottom:0;height:50px}
.second-slider{padding:0!important}
.slider-2-section-static{position:relative}
.slider-2-section-static > div{display:table;width:100%;width:50%;display:inline-block;vertical-align:middle;margin-right:-4px;}
.slider-2-section-static > div:nth-child(1){position:relative;padding:0 6.5%;text-align:center}
.slider-2-section-static > div:nth-child(1):before,.slider-2-section-static > div:nth-child(1):after{left:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;z-index:1}
.slider-2-section-static > div:nth-child(1):after{border-color:rgba(136,183,213,0);border-left-color:#e6ecf0;border-width:30px;margin-top:-30px}
.slider-2-section-static > div:nth-child(1):before{border-color:rgba(194,225,245,0);border-width:36px;margin-top:-36px}
.slider-2-section-static > ul{padding:0;margin:0}
.slider-2-section-static > ul > li{list-style:none;display:block;margin:0}
.slider-2-section-static h1{font-family:'CenturyGothicBold';font-size:38px;letter-spacing:1px;text-transform:uppercase;margin-bottom:25px}
.slider-2-section-static p{font-family:'robotolight';font-size:20px;line-height:35px;letter-spacing:1px}
.slider-2-section-static img{width:100%;height:auto}
.slider-2-section-static .carousel-control{background:url(../images/arrow.png) no-repeat center center!important;width:35px;height:49px;bottom:100%;margin-top:-25px;opacity:1;top:inherit}
.slider-2-section-static .carousel-control.left{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);left:46%;margin-left:-25px}
.slider-2-section-static .carousel-control.right{left:56%;margin-left:-25px}
.slider-2-section-static > p{display:block;position:absolute;bottom:0;width:50%;margin-bottom:0;height:50px}
.slider-2-section-reversed{position:relative}
.slider-2-section-reversed ul li > div{display:table;width:100%}
.slider-2-section-reversed ul li > div > div{width:50%;display:table-cell;vertical-align:middle}
.slider-2-section-reversed ul li > div > div:nth-child(2){position:relative;padding:0 6.5%;text-align:center}
.slider-2-section-reversed ul li > div > div:nth-child(2):before,.slider-2-section-reversed ul li > div > div:nth-child(2):after{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.slider-2-section-reversed ul li > div > div:nth-child(2):after{border-color:rgba(136,183,213,0);border-right-color:#e6ecf0;border-width:30px;margin-top:-30px}
.slider-2-section-reversed ul li > div > div:nth-child(2):before{border-color:rgba(194,225,245,0);border-width:36px;margin-top:-36px}
.slider-2-section-reversed > ul{padding:0;margin:0}
.slider-2-section-reversed > ul > li{list-style:none;display:block;margin:0}
.slider-2-section-reversed ul li h1{font-family:'CenturyGothicBold';font-size:38px;letter-spacing:1px;text-transform:uppercase;margin-bottom:25px}
.slider-2-section-reversed ul li p{font-family:'robotolight';font-size:20px;line-height:28px;letter-spacing:.5px;margin-bottom:20px}
.slider-2-section-reversed img{width:100%;height:auto}
.slider-2-section-reversed .carousel-control{background:url(../images/arrow.png) no-repeat center center!important;width:35px;height:49px;bottom:100%;margin-top:-25px;opacity:1;top:inherit}
.slider-2-section-reversed .carousel-control.left{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);left:46%;margin-left:-25px}
.slider-2-section-reversed .carousel-control.right{left:56%;margin-left:-25px}
.slider-2-section-reversed > p{display:block;position:absolute;bottom:0;right:0;width:50%;margin-bottom:0;height:50px}
.second-slider{padding:0!important}
.slider-2-section-reversed-static{position:relative}
.slider-2-section-reversed-static > div{display:table;width:100%;width:50%;display:inline-block;vertical-align:middle;margin-right:-4px;}
.slider-2-section-reversed-static > div.reverse-content{position:relative;padding:0 6.5%;text-align:center}
.slider-2-section-reversed-static > div.reverse-content:before,.slider-2-section-reversed-static > div.reverse-content:after{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;z-index:1}
.slider-2-section-reversed-static > div.reverse-content:after{border-color:rgba(136,183,213,0);border-right-color:#e6ecf0;border-width:30px;margin-top:-30px}
.slider-2-section-reversed-static > div.reverse-content:before{border-color:rgba(194,225,245,0);border-width:36px;margin-top:-36px}
.slider-2-section-reversed-static > ul{padding:0;margin:0}
.slider-2-section-reversed-static > ul > li{list-style:none;display:block;margin:0}
.slider-2-section-reversed-static h1{font-family:'CenturyGothicBold';font-size:38px;letter-spacing:1px;text-transform:uppercase;margin-bottom:25px}
.slider-2-section-reversed-static p{font-family:'robotolight';font-size:20px;line-height:35px;letter-spacing:1px}
.slider-2-section-reversed-static img{width:100%;height:auto}
.slider-2-section-reversed-static .carousel-control{background:url(../images/arrow.png) no-repeat center center!important;width:35px;height:49px;bottom:100%;margin-top:-25px;opacity:1;top:inherit}
.slider-2-section-reversed-static .carousel-control.left{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);left:46%;margin-left:-25px}
.slider-2-section-reversed-static .carousel-control.right{left:56%;margin-left:-25px}
.slider-2-section-reversed-static > p{display:block;position:absolute;bottom:0;right:0;width:50%;margin-bottom:0;height:50px}
.carousel-fade .carousel-inner .item{opacity:0;-webkit-transition:opacity ease-in-out 1s;-moz-transition:opacity ease-in-out 1s;transition:opacity ease-in-out 1s}
.carousel-fade .carousel-inner .active{opacity:1}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left:0;opacity:0;z-index:1}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right{opacity:1}
.carousel-fade .carousel-control{z-index:2}
.slider-1-section{font-family:'robotolight';font-size:16px}
.slider-1-section h1{font-family:'CenturyGothicBold';font-size:20px;text-transform:uppercase;border-bottom:1px solid #969aa2;padding-bottom:20px;margin-bottom:20px}
.slider-1-section h2{font-size:20px;margin-bottom:25px}
.slider-1-section p{line-height:25px}
.slider-1-section ul{padding:0}
.slider-1-section ul li{line-height:25px;list-style:outside disc}
.slider-1-section>ul{padding-bottom:0}
.slider-1-section>ul>li{list-style:none;content:"";display:table;padding-top:120px}
.slider-1-section>ul>li:before{content:"";display:table}
.slider-1-section>ul>li>div{width:50%;display:block;float:left}
.slider-1-section>ul>li>div img{width:90%}
.slider-1-section .carousel-control{background:url(../images/arrow.png) no-repeat center center!important;width:50px;height:49px;top:222px}
.slider-1-section .carousel-control.left{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);left:-100px}
.slider-1-section .carousel-control.right{right:-100px}
.newspageDetail .header-section{text-align:center}
.newspageDetail .container{padding:60px 0}
.newspageDetail .container .row{width:85%;margin:0 auto}
.newspageDetail .container .row div.col-lg-6{padding:0 25px 25px}
.newspageDetail .container p{font-family:'latoregular';font-size:16px;line-height:26px;margin-left:50px;margin-right:50px}
.newspageDetail .container .btn-news{border:1px solid #11223a;height:50px;line-height:50px;color:#11223a;display:block;width:150px;text-align:center;font-size:18px;font-family:'latoregular';margin-top:40px;float:right;transition:all ease-in-out .3s;-moz-transition:all ease-in-out .3s;-webkit-transition:all ease-in-out .3s}
.newspageDetail .container .btn-news:hover{text-decoration:none;background:#fff;border:1px solid #fff}
p:empty{display:none}
.timeline-container #back-to-top { right: 100px;}

/*<!-- Drop Down -->*/
.dropcontainer{position:absolute;font-size:16px;color:#777}
.trigger,.activetrigger{max-width:520px;width:100%;height:50px;padding-left:12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid rgba(46,53,70,0.5);-moz-border:1px solid rgba(46,53,70,0.5);-webkit-border:1px solid rgba(46,53,70,0.5);color:#2e3546;font-family:'robotolight';font-size:20px;font-style:italic;text-transform:capitalize;line-height:50px;text-align:left;display:inline-block;margin:0 auto;text-decoration:none;background:transparent url(../images/dropdown-grey.png) 94% center no-repeat}
.trigger:hover,.activetrigger:hover,.activetrigger:focus,.trigger:focus{background:#f5f5f5 url(../images/dropdown-grey.png) 94% center no-repeat;text-decoration:none;color:#2e3546}
.activetrigger:hover{background:#f5f5f5 url(../images/dropdown-grey-up.png) 94% center no-repeat}
.activetrigger:active{background:#f5f5f5 url(../images/dropdown-grey-up.png) 94% center no-repeat;color:#777}
.dropcontainer ul{font-size:18px;border:1px solid #ccc;border-top:none;background:#fff;list-style-type:none;padding:0;margin:0;width:100%;max-width:520px;position:absolute;z-index:1;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:520px;top:auto;}
.dropcontainer ul li{padding:8px 20px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;min-width: 520px;}
.inner-header form .dropcontainer ul{right:0;width:70%}
.dropcontainer ul li a{color:#2e3546}
.dropcontainer ul li:hover{background:#11223a;outline:none}
.dropcontainer ul li:hover a{color:#fff}
.dropcontainer ul li:first-child{display:none}
.dropcontainer ul li:last-child{border-bottom:none}
.dropdownhidden{display:none;}
.dropdownvisible{height:auto; max-height: 500px; overflow-y: scroll; overflow-x: hidden;}
@media (max-width: 1250px) {
.sticky-dates ul li a.active,.sticky-dates ul li a:hover{font-size:22px;padding:15px 0}
.sticky-dates ul li a{padding:15px 0;font-size:14px}
.second-part .timeline-content{width:50%}
.fourth-part .timeline-content{width:50%}
.fifth-part .timeline-content .crown img{top:350px}
.fifth-part .timeline-content .hydro-sub-watch img{bottom:-125px}
.sixth-part .timeline-content{width:50%}
.seventh-part .timeline-content{width:45%}
.ninth-part .timeline-content{width:50%}
.eleventh-part .timeline-content .timekeeper-watch{right:-222px}
.eleventh-part .timeline-boxed.timekeeper{left:30%;width:40%;top: 350px;}
.twelveth-part .timeline-content{width:50%}
.thirteenth-part .timeline-con{padding-top:60px}
.thirteenth-part .timeline-content .half.old-delfin img{margin-left:100px}
.parallaxObject{display:none}
.affix{top:100px}
}
@media (max-width: 1000px) {
.half-text-section p { margin: 0 !important;}
.half-text-section div { padding-left: 0 !important; padding-right: 0 !important; }
.btn-cms { margin-top: 20px;}
}
@media (max-width: 900px) {
.timeline-start:before{left:5%}
.year-point{left:5%}
.timeline-container .half{width:100%}
.first-part .timeline-content{padding-top:80px}
.timeline-fixed-content.watchmaking{padding:140px 0}
.timeline-container .timeline-boxed.pauline{margin:50px auto}
.half.logo img{position:absolute;left:inherit;top:-20px;right:-90px}
.timeline-fixed-content.birthof-logo{position:relative;top:0}
.third-part .timeline-start{padding:120px 0}
.fifth-part .timeline-content .crown .timeline-boxed{position:relative;width:50%;margin:0 auto;left:0;top:0}
.fifth-part .timeline-content .water-champion>div{width:80%;margin:0 auto}
.fifth-part .timeline-content .crown img{top:600px;right:8%}
.timeline-container .half.water-champion{top:400px}
.timeline-container .half.water-champion h1,.timeline-container .half.water-champion p{width:55%;margin-left:5%}
.timeline-container .half.hydro-sub{width:60%;float:right;padding:240px 0 100px}
.fifth-part .timeline-content .hydro-sub-watch img{left:5%;bottom:100px}
.eighth-part .timeline-content .worldrecord-watch{}
.eighth-part .timeline-content .worldrecord-watch img{margin-left:0}
.eighth-part .timeline-fixed-content.worldrecord{position:relative;top:50px}
.eighth-part .timeline-fixed-content.worldrecord .cover-bg{width:50%;margin:0;float:right;right:10%;top:590px;}
.eighth-part .timeline-content .achivements-watch{margin-top:380px;text-align:center;padding-bottom: 400px;}
.eighth-part .timeline-content .achivements-watch img { margin: 0;}
.eighth-part .timeline-fixed-content.achivements{top:1550px}
.eighth-part .timeline-fixed-content.achivements .cover-bg{width:40%;margin:0;}
.tenth-part .timeline-content .timekeeping-watch,.eleventh-part .timeline-content .timekeeper-watch{display:none!important}
.thirteenth-part .timeline-content .half.new-delfin{text-align:left;margin-left:10%}
.thirteenth-part .timeline-fixed-content.icon-revival{top:50px}
.thirteenth-part .timeline-fixed-content.icon-revival .cover-bg{margin:0;float:right;margin-right:10%}
.thirteenth-part .timeline-content .half.old-delfin{text-align:right;position:absolute;top:250px}
.thirteenth-part .timeline-content .half.old-delfin img{margin-left:0;margin-right:10%}
.thirteenth-part .timeline-content .half.old-delfin .timeline-boxed.revival{bottom:-250px}
.eleventh-part .timeline-boxed.timekeeper{top:450px;}
.year-point.first{top:300px}
.year-point.second{top:800px}
.year-point.third{top:1400px}
.year-point.fourth{top:200px}
.year-point.fifth{top:775px}
.year-point.seventh {top:1200px;}
.year-point.ninth{display:none}
.btn-cms { margin-bottom: 10px;}
}
@media (max-width:767px) {
.mean-container .mean-nav ul li.services ul li:nth-of-type(1){display:none}
.mean-container .mean-nav ul{height:360px;overflow:auto}
.mean-container .mean-nav ul li ul{height:auto}
.mean-container .mean-nav ul li li a{padding:1em 6%;width:88%}
.mean-container .mean-nav ul li.mean-last{display:none}
}
@media (max-width: 600px) {
.sticky-dates{display:none}
.history-top h1{font-size:32px;line-height:50px}
.timeline-container img{max-width:100%}
.timeline-start:before{display:none}
.timeline-container .timeline-boxed,.second-part .timeline-content,.third-part .timeline-start .timeline-fixed-content .cover-bg,.fourth-part .timeline-content,.fifth-part .timeline-content .crown .timeline-boxed,.sixth-part .timeline-content,.seventh-part .timeline-content,.ninth-part .timeline-content,.tenth-part .timeline-content,.eleventh-part .timeline-content,.twelveth-part .timeline-content{width:90%}
.eleventh-part .timeline-boxed.timekeeper{width:90%;left:5%}
.half.logo img{height:150px;top:-20px;right:0;z-index:99}
.fifth-part .timeline-content .water-champion>div{width:90%}
.fifth-part .timeline-content{padding-top:110px}
.fifth-part .timeline-content .crown img{top:1050px;right:inherit;left:54%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%)}
.timeline-container .half.water-champion h1,.timeline-container .half.water-champion p{width:100%;margin-left:0}
.timeline-container .half.water-champion h1{margin-top:100px}
.timeline-container .half.hydro-sub{width:90%;float:none;margin:0 auto;padding:480px 0 400px}
.fifth-part .timeline-content .hydro-sub>div{width:100%}
.fifth-part .timeline-content .hydro-sub-watch img{bottom:-50px;left:8%}
.eighth-part .timeline-content .worldrecord-watch{left:0;text-align:center;padding-top:100px}
.eighth-part .timeline-fixed-content.worldrecord .cover-bg{width:100%;float:none;right:0;top:560px}
.eighth-part .timeline-content .achivements-watch img{margin-top:500px}
.eighth-part .timeline-fixed-content.achivements{position:relative;top:1100px;}
.eighth-part .timeline-fixed-content.achivements .cover-bg{width:100%;margin-left:0;left:50%;}
.eighth-part .timeline-content .achivements-watch img{margin-top:280px}
.eighth-part .timeline-content .achivements-watch{padding-bottom:40px}
.tenth-part .timeline-content{padding:100px 0 150px}
.eleventh-part .timeline-content{padding:50px 0 400px}
.eleventh-part .timeline-boxed.timekeeper{top:360px}
.twelveth-part .timeline-content{padding:50px 0}
.thirteenth-part .timeline-fixed-content.icon-revival .cover-bg{width:100%;margin-left:0;float:none;top:100px}
.thirteenth-part .timeline-content .half.new-delfin{width:100%;text-align:center;margin-left:0}
.thirteenth-part .timeline-content .half.old-delfin{position:relative;text-align:center;top:0}
.thirteenth-part .timeline-content .half.new-delfin{padding-bottom:50px}
.thirteenth-part .timeline-content .half.new-delfin{padding-top:275px;width:90%;display:block;margin:0 auto}
.thirteenth-part .timeline-content .half.old-delfin .timeline-boxed.revival{position:relative;bottom:inherit;width:90%;right:0}
.end-part p{width:90%}
.year-point{left:50%}
.year-point.first{top:0}
.year-point.second{top:668px}
.year-point.third{top:1100px}
.year-point.fourth{top:20px}
.year-point.fifth{top:800px}
.year-point.sixth{top:40px}
.year-point.seventh{top:1000px}
.year-point.eighth{top:40px}
.second-part .timeline-content { padding: 150px 0 100px;}
.thirteenth-part .timeline-content .half.old-delfin img {position: absolute;top: -940px;left: 25%}
.thirteenth-part .timeline-content .half.new-delfin {padding-top: 700px;}
}
@media (max-width: 460px) {
.timeline-container .half {margin-top:20px;}
}
@media (max-width: 420px) {
.year-point{left:50%}
.year-point.first{top:0}
.year-point.second{top:830px}
.year-point.third{top:1070px}
.year-point.fourth{top:20px}
.year-point.fifth{top:840px}
.year-point.sixth{top:40px}
.year-point.seventh{top:1000px}
.year-point.eighth{top:40px}
.first-part .timeline-content{ padding-top: 102px;}
.third-part .timeline-start {padding: 120px 0 250px;}
.timeline-fixed-content.birthof-logo { z-index: 0;}
.half.logo img { top: -160px;}
.fifth-part .timeline-content .crown img { left: 17%;top: 1000px;}
.eighth-part .timeline-content .achivements-watch img {margin-top: 1220px;left: 5%;}
.eighth-part .timeline-fixed-content.achivements {transform: translateX(50%);-webkit-transform: translateX(50%);-moz-transform: translateX(50%);top: 1100px;}
.eighth-part .timeline-fixed-content.worldrecord .cover-bg {top: 575px;}
.first-part .shuffle-content { min-height: 105px;}
.tenth-part {min-height: 600px;}
.tenth-part .timeline-content { padding: 80px 0 100px;}
.eleventh-part {min-height: 850px;}
.thirteenth-part .timeline-content .half.old-delfin img {position: absolute;top: -940px;left: 14%}
.thirteenth-part .timeline-content .half.new-delfin {padding-top: 700px;}
.cover-bg { width: 100%;}
}
@media (max-width: 340px) {
.year-point{left:50%}
.year-point.first{top:0}
.year-point.second{top:830px}
.year-point.third{top:1115px}
.year-point.fourth{top:20px}
.year-point.fifth{top:500px}
.year-point.sixth{top:40px}
.year-point.seventh{top:450px}
.year-point.eighth{top:40px}
.first-part .timeline-content{ padding-top: 102px;}
.third-part .timeline-start {padding: 120px 0 250px;}
.timeline-fixed-content.birthof-logo { z-index: 0;}
.half.logo img { top: -160px;}
.fifth-part .timeline-content .crown img { left: 11%;top: 1080px;}
.eighth-part .timeline-content .achivements-watch img {margin-top: 180px; margin-bottom: 280px}
.eighth-part .timeline-fixed-content.achivements {transform: translateX(0%);-webkit-transform: translateX(0%);-moz-transform: translateX(0%);top: 1100px;}
.eighth-part .timeline-fixed-content.worldrecord .cover-bg {top: 575px;}
.first-part .shuffle-content { min-height: 105px;}
.tenth-part {min-height: 600px;}
.tenth-part .timeline-content { padding: 80px 0 100px;}
.eleventh-part {min-height: 850px;}
.thirteenth-part .timeline-content .half.old-delfin img {position: absolute;top: -880px;left: 8%}
.thirteenth-part .timeline-content .half.new-delfin {padding-top: 700px;}
}
/*--end of history--*/

/*--social page--*/
/* Reset */
.dcsns ul, .dcsns li {
	padding: 0; 
	margin: 0; 
	list-style: none!important;
	background: none;
}

.feed-blk{margin-bottom:100px; }
.social-contr{max-width:1000px;}
.social .feed-ul{clear:both;}
.social .feed-ul li a img{
	-webkit-transition:-webkit-transform 0.6s ease-in-out;
	-moz-transition:-webkit-transform 0.6s ease-in-out;
	transition:-webkit-transform 0.6s ease-in-out;	
	-webkit-backface-visibility:hidden;
}
.social .feed-ul li a:hover img{-webkit-transform:scale(1.2);}

#facebook_section .dcsns-li a, #instagram_section .section-thumb a{	overflow:hidden; display:block;}


.social .feed-ul > li{width:28.5%;/*285px;*/ float:left;	margin-right:7%;/*70px;*/ line-height:normal; text-align:left;	font-family:Arial, Helvetica, sans-serif;}
.social .feed-ul > li:last-child{margin-right:0;}
.social .dcsns-li{margin-bottom:36px;}

.social #facebook_section{font-size:12px;}

.icon-large{
	background-repeat:no-repeat; position:absolute; display:block;
	-webkit-transition:opacity 0.4s linear;
	-moz-transition:opacity 0.4s linear;
	transition:opacity 0.4s linear;		
}
.icon-large:hover{opacity:0.6}
.icon-large-fb{
	background-image:url(../images/fbBig.png);	width:269px; height:52px; right:0; top:55px;
}
.icon-large-twitter{ 
	width:269px; height:55px;	background-image:url(../images/twitterBig.png);
}
.icon-large-insta{ 
	width:267px; height:71px; left:50%; margin-left:-134px;	background-image:url(../images/igBig.png);
}

.social #facebook_section .inner,
.social #facebook_section .section-intro{
	padding:14px 18px; background-color:white;
}
.social #facebook_section .section-intro{
	display:block;	background-color:#3B5998;
}
.social #facebook_section .section-intro,
.social #facebook_section .section-intro a{
	color:white;
}



#twitter_section .stream li{	font-size:22px; color:white;}
#twitter_section .tweet-date{font-size:17px; margin-bottom:15px;}
#twitter_section .stream li a, #twitter_section .stream li .section-tweet span{ color: #3b445c}


.social-inner #facebook_section .first_colmn li:first-child{margin-top:34px;}
.social-inner #facebook_section .last_colmn li:first-child{margin-top:144px;}

.social-inner #twitter_section .first_colmn li:first-child{margin-top:60px;}
.social-inner #twitter_section .second_colmn li:first-child{margin-top:-104px;}
/*.social-inner #twitter_section .last_colmn li:first-child{margin-top:40px;}*/

.social-inner #instagram_section .second_colmn li:first-child{margin-top:10px;}
.social-inner #instagram_section .last_colmn li:first-child{margin-top:-20px;}

/*--homepage--*/
.social-contr img{
	width:100%;
}
.home .social-contr{max-width:1072px;}
.home .social .feed-ul > li{
	width:100%;
	margin:0;
	float:none;
}
.social-contr{
	clear:both; position:relative;
}
/*
.social-contr div div{
	background-color:white;
	margin-bottom:20px;
	min-height:20px;
}
.social-contr > div{
	width:530px;
	float:left;
}
*/
.social-inner{
	height:2000px;
}
.social-home{
	height:700px;/* overflow:hidden;*/
}
.social-home .social-col-one,
.social-home .social-col-two{
	width:calc(50% - 6px);/*530px;*/
	float:left;
}
.social-home .social-col-two{
	margin-top:-60px;
}
.social-home > div:first-child{
	margin-right:6px;
}
.social-home > div:last-child{
	margin-left:6px;
}

.social-home #twitter_section .dcsns-content{
	width:88%;
}

.social-home #youtube_section{
	/*width:530px;*/
	position:relative;
	z-index:1;
}


.social-home #tumble_section{
	width:64.92537313432836%;/*348px;/1072*/
	float:right;
	/*width:348px;*/
	margin-right:6px;
}

.social-home #facebook_section{
	width:53.9622641509434%;/*286px;/530px*/ float:right;
}
.social-home #instagram_section{
	width:48.30188679245283%;/*256px;/530*/ position:absolute;
	left:-48px; top:-12px;
}
.social-home #pinterest_section{
	width:58.11320754716981%;/*308px;*/ 	position: relative;
margin-top: 200px;
margin-left: 15px;
}

.feed-icon{ background:url(../images/social-icons.png) no-repeat;}
.social-home .feed-icon{display:block; position:absolute;}
.feed-fb{ background-position:-14px -124px; width: 52px;	height: 52px;}
.feed-twitter{ background-position:-7px -183px; width: 67px; height: 55px;}
.feed-ytube{ background-position:-11px -302px; width: 60px; height: 65px;}
.feed-pin{ background-position:-10px -241px; width: 58px; height: 58px;}
.feed-insta{ background-position:-14px -65px; width: 50px; height: 50px;}

.social-home .feed-insta{
	/*top: -76px;*/ top:0; z-index:-1;
	left: 8px;
}
.social-home .feed-fb{
margin-top: -106px;
margin-left: -72px;
}
.social-home .feed-twitter{
right:0;
top: 38px;
}
.social-home .feed-ytube{
margin-top: 20px;
margin-left: 20px;
}
.social-home .feed-pin{
	right:-80px;
}

#pinterest_section{

}
/*--end of social page--*/








